/*body{
	background-color: #cacaca;
}
#blog-wrapper{
	max-width: 900px;
	margin: auto;
	background-color: white;
	overflow: hidden;
}

#header{
	border-bottom: 4px solid black;
	overflow: hidden;
	color: blue;
	margin-top: 2%;

}


#header .header-text{
	font-size: 30px;
	font-family: 'Orbitron', sans-serif;
	float: left;
	margin-left: 2%;
}

#header .header-text h1{
	margin: 0;
}*/

#header .search-bar{
	float: right;
	margin-bottom: 1%
}
/*
input{
	border-radius: 10px;
}

#main-container{
	width: 75%;
	float: left;
}

#blog-body-container{
	margin-left: 2%;
	margin-bottom: 3%;
}

.blog-item .blog-item-header{
	border-bottom: solid 1px #cacaca;
	color: orange;
}

.blog-author{
	font-style:italic;
	color: red; 
}

#right-rail{
	width: 21%;
	float:left;
	margin-left: 4%;
}


#right-rail .right-rail-item{
	background-color: #cacaca;
	border: 1px solid #eee;
	border-radius: 6px;
	margin-bottom: 2%;
}

p{
	padding-left: 6%;
	margin:0;
}
#first-right-rail-item{
	margin-top: 4%;
}

ul{
	margin: 0;
color: red;
}

.list-items{
}

li{
	color: green;
	font-weight: bold;
	text-decoration: underline;
}
*/

#fancybox{
	text-align: center;
}

.blog-header-image img{
	width: 100%;
	margin: 2%;
}